/* Scss Document */
* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem; 
  font-family: 'M PLUS 1p', sans-serif;
  
}


#wrapper {
  width: 960px;
  background-color: #dac496;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 100px;
  background: #929292;
}

#main {
  width: 700px;
  height: 500px;
  background: rgb(245, 63, 63);
}

#aside {
  width: 260px;
  height: 500px;
  background: #8ee78e;
}

#footer {
  width: 100%;
  height: 100px;
  background: #232323;
  color: #fff;
  padding: 43px;
  text-align: center;
}

.sidemenu__box li {
  list-style: none;
  padding: 15px;

}